aiofiles==23.1.0
aiosqlite==0.19.0
altair==5.0.1
anyio==3.6.2
asgiref==3.7.2
blinker==1.6.2
boto3==1.28.2
botocore==1.31.2
Django==4.2.1
django-cors-headers==3.13.0
django-extensions==3.2.3
django-storages==1.12.3
djangorestframework==3.14.0
gunicorn==20.1.0
jmespath==1.0.1
python-dotenv==1.0.0
psycopg2-binary==2.9.6
requests==2.31.0
sqlparse==0.4.4
urllib3==1.26.16
whitenoise==6.4.0
matplotlib
openpyxl
pandas
google-generativeai
python-dotenv
PyPDF2>=3.0.0
